!*.c
*/*/Listings
*/*/Objects
Listings
Objects
*/*/*.Kenobi
*/*/*.uvopt
*/*/*.Kenobi
*/*/*.uvopt
*/*/Debug
*/*/setting

.vscode
Objects
Obj
Debug
settings

*.Kenobi
*.uvopt
*.log


*.dep
*.ewp
*.ewt
*.ewd

